body{
    font-family: Optima;
    background-color: dodgerblue;
}

header,h1, h2, footer
{
    text-align: center;
}



.nav{
    position: absolute;
    width: 100%;
    color: white;
    top: 20px;
}

