body{
    font-family: Optima;
    background-color: dodgerblue;
}

header,h1, h2
{
    text-align: center;
}

footer
{
    text-align: center;
}


nav{
  width: 100%;
  height: 75px;
  background-color: black;
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  z-index: 1;
}

.photo{
    text-align: center;
}
