body{
    font-family: Optima;
    background-color: dodgerblue;
}

header, footer
{
    text-align: center;
}

main h1
{
    text-align:center;
}

.nav{
    position: absolute;
    width: 100%;
}

.nav a{
    position: relative;
    left: 20%;
    top: 20px;
    color: white;
}